body{
    margin: 0px;
    padding: 0px;
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(15 5 39);
}
#todo-list {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 10px 0px 0px 0px;
    text-align: center;
    background-color: rgba(146, 146, 146, 0.712);
    border-radius: 5px;
    color: aliceblue;
    
}
#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#todo-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(20, 28, 99);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
li {
    width: 90%;
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(11, 0, 49, 0.548);
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}